---
layout: default
---

{% assign featured_posts = site.posts | where:'featured', true %}
{% assign latest_memo = site.memos.last %}


<table class="latest-memo header">
  <tr>
    <td class="memo-date width-auto">{{ latest_memo.date | date: "%m-%d-%Y" }}</td>
    <th class="memo-label width-min">Latest Memo</th>
  </tr>
  <tr>
    <td colspan="2" rowspan="1" class="width-auto memo-cell" onclick="window.location.href='{{ latest_memo.url }}';">
      <a class="memo-link" href="{{ latest_memo.url }}">{{ latest_memo.title }}</a>
    </td>
  </tr>
</table>

<section class="posts">
  <ul>
    {% for post in site.posts %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%m-%d-%Y" }}</time>
          {% if post.featured == true %}
            *
          {% else %}
            &nbsp;
          {% endif %}
          {{ post.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
